<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="well span6">
                <form name="form" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <p ng-if="!state"> Choose a state </p>
                        <select class="form-control" ng-change="getStateData(state)" ng-options="state for state in states" ng-model="state" required autofocus></select><br />
                    </div> 
                    <div ng-if="state" class="form-group">
                        <p ng-if="!countyName"> Choose a county </p>
                        <select class="form-control" ng-change="setCountyName(county)" ng-options="county as county['County Name '] for county in stateData track by county['County Name ']" ng-model="county" required></select><br />
                    </div>
                    <div ng-if="countyName" class="form-group">
                        <p ng-if="!age"> Choose your partner's age bracket </p>
                        <select class="form-control" ng-options="age for age in ages" ng-change="setAge(age)" ng-model="age" required></select><br />
                    </div>
                    <div ng-if="age" class="form-group">
                        <p ng-if="!gender"> Choose your partner's gender</p>
                        <select class="form-control" ng-options="gender for gender in genders" ng-change="setGender(gender)" ng-model="gender" required></select><br />
                    </div>

                    <div ng-if="gender" class="form-group">
                        <p ng-if="!race"> Choose your partner's race </p>
                        <select class="form-control" ng-options="race for race in races" ng-change="setRace(race)" ng-model="race" required></select>

                    </div>
                </form>
                <p> Current chance of your partner being infected is {{100 * rate}}%. Shown below are rates of infection for various unprotected sexual activities.</p>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Needle Sharing</th>
            <th ng-if="gender!=='Female'">Anal: You recieving ejaculate</th>
            <th>Anal: You inserting</th>
            <th>Vaginal: You recieving ejaculate</th>
            <th ng-if="gender!=='Male'">Vaginal: You inserting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{100 * rate * infectionRates["Needle"]}}%</th>
            <th ng-if="gender!=='Female'">{{100 * rate * infectionRates["Receptive anal"]}}%</th>
            <th>{{100 * rate * infectionRates["Insertive anal"]}}%</th>
            <th>{{100 * rate * infectionRates["Receptive Vaginal"]}}%</th>
            <th ng-if="gender!=='Male'">{{100 * rate * infectionRates["Insertive Vaginal"]}}%</th>
    </tbody>
</table>

